/ThinkBridge.Shop.Api/ThinkBridge.Shop.Api/bin
/ThinkBridge.Shop.Api/ThinkBridge.Shop.Api/obj
/ThinkBridge.Shop.Core/obj
/ThinkBridge.Shop.Core/bin
/ThinkBridge.Shop.Data/bin
/ThinkBridge.Shop.Data/obj
/ThinkBridge.Shop.Services/bin
/ThinkBridge.Shop.Services/obj
/ThinkBridge.Shop.Api/.vs/ThinkBridge.Shop.Api/v16/*.suo
/ThinkBridge.Shop.Api/.vs/ThinkBridge.Shop.Api/DesignTimeBuild/.dtbcache.v2
